  body {
   background-image: url("https://media.giphy.com/media/IjmMzurYulKEw/giphy.gif");
 
}

.center {
    padding: 70px 0;
    border: 3px solid ;
    text-align: center;
  
}
div {
    background-color: lightblue;
}
